<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home"><img class="brand" src="assets/images/lamp.png" alt="logo"></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link " routerLink="/shop">Shop For Clothing</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " routerLink="/store-finder">Store Finder</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " routerLink="/careers">Careers</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
